USE [master]
GO
/****** Object:  Database [SupportDb]    Script Date: 12/9/2019 5:56:03 PM ******/
CREATE DATABASE [SupportDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SupportDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PLUTOSQL\MSSQL\DATA\SupportDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SupportDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PLUTOSQL\MSSQL\DATA\SupportDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SupportDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SupportDb]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 12/9/2019 5:56:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProblemDescryption] [varchar](110) NOT NULL,
	[Problem] [varchar](500) NOT NULL,
	[Status] [int] NOT NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/9/2019 5:56:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[UserSurname] [varchar](30) NOT NULL,
	[UserEmail] [varchar](30) NOT NULL,
	[UserPassword] [varchar](25) NOT NULL,
	[RoleType] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [UserSurname], [UserEmail], [UserPassword], [RoleType]) VALUES (1, N'Aykhan', N'Dadashov', N'ayxan@gmail.com', N'123', 0)
INSERT [dbo].[Users] ([UserID], [UserName], [UserSurname], [UserEmail], [UserPassword], [RoleType]) VALUES (2, N'Ulvi', N'Ceferli', N'ulvi@gmail.com', N'321', 0)
INSERT [dbo].[Users] ([UserID], [UserName], [UserSurname], [UserEmail], [UserPassword], [RoleType]) VALUES (3, N'Qaya', N'Nikbinoglu', N'qaya@gmail.com', N'12345', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
